:root {
    --main-accent-color: #333a56;
    --main-accent-color-dark: #222845;
    --main-accent-color-inside: #e8e8e8;
    --main-bg-color: #f4f4f4;
    --main-bg-color-inside: #333a56;
    --secondary-accent-color: #52658f;
    --secondary-accent-color-dark: #30436d;
    --secondary-accent-color-inside: #e8e8e8;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-accent-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
th {
  color: #3744a0;
}

p.material {
  padding: 5px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.float-r {
  float: right;
}
.input-descriptor {
    color: var(--main-bg-color-inside);
  padding: 0 10px 0 10px
}
.input-group {
  margin: 10px;
}
.material {
    background-color: var(--main-bg-color);
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
    color: var(--main-bg-color-inside);
  margin: 5px;
}
.material.btn {
    background-color: var(--secondary-accent-color);
  cursor: pointer;
    color: var(--secondary-accent-color-inside);
  display: inline-block;
  font-size: 0.9em;
  line-height: 32px;
  position: relative;
  text-align: center;
  transition: all .3s;
  width: 120px;
  height: 32px;
}
.material.btn:hover {
    background-color: var(--secondary-accent-color-dark);
}
.material.div {
  margin: 10px;
  padding: 10px;
}
.material.div.link {
    background-color: var(--main-bg-color);
  transition: all .2s;
}
.material.div.link:hover{
    background-color: var(--main-accent-color);
    color: var(--main-accent-color-inside);
}
.material.language {
    background-color: var(--secondary-accent-color);
  cursor: hand;
    color: var(--secondary-accent-color-inside);
  display: inline-block;
  font-size: 0.9em;
  line-height: 32px;
  position: relative;
  text-align: center;
  transition: all .3s;
  width: 120px;
  height: 32px;
}
.material.text-input {
    background-color: var(--main-bg-color);
  border: none;
    color: var(--main-bg-color-inside);
  display: inline-block;
  font-size: 0.9em;
  line-height: 32px;
  padding-left: 5px;
  position: relative;
  width: 120px;
  height: 32px;
}
.material.text-input:focus {
    outline: 2px dashed var(--secondary-accent-color);
}
.material.text-input.lg {
  transition: width .5s ease;
}
.material.text-input.lg:focus {
  width: 80%;
}
.material.textarea {
  border: none;
  display: inline-block;
  font-size: 0.9em;
  line-height: 32px;
  padding-left: 5px;
  position: relative;
  width: 80%;
  height: 130px;
}
.material.textarea:focus {
    outline: 2px dashed var(--secondary-accent-color);
}

/* Arrows from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow.blue {
    border-color: var(--secondary-accent-color);
}